h1 {
    color: coral;
}
img {
    float: top;
    width: 60%;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: coral;
    padding: 50px;
    border: solid 15px;
    float: top;
    position
    
}

#spandId {
    font-size: 18px;
    margin: 50px;
}

body {
    background-image: url("https://media.istockphoto.com/photos/closeup-of-sand-pattern-of-a-beach-in-the-summer-picture-id678719470?k=20&m=678719470&s=612x612&w=0&h=KnyvbHVSGK0Ol67bKWj-nW5Jo2BetiiZrsb-ufret_Q=");
}