h1 {
    color: coral;
}
img {
    float: top;
    width: 60%;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: coral;
    padding: 50px;
    border: solid 15px;
    float: top;
    position
    
}
#spandId {
    font-size: 18px;
    margin: 50px;
}